* {
    /* outline: 1px dotted red; */
    box-sizing: border-box;
    vertical-align: top;
    margin: 3px auto;
    color: blanchedalmond;
    width: 814px;
    padding: 5px;
}

#wrapper {
    background-color: black;
}

img {
    padding: 0px;
    width: 400px;
    height: 300px;
    border: 2px solid lightslategray;
}